
script(src='https://code.jquery.com/jquery-3.6.0.slim.min.js')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
script(src='assets/js/vendors~main.bundle.js')
script(src='assets/js/main.bundle.js?v=' + PACKAGE.version)