.header
  .header__item
    a.header__logo(href="#main")    
      svg(xmlns="http://www.w3.org/2000/svg" width="220.435" height="71.48" viewBox="0 0 220.435 71.48")
        g(id="logo" transform="translate(-63.5 -197)")
          g(id="Group_2" data-name="Group 2" transform="translate(63.5 210.576)")
            path(id="Path_3" data-name="Path 3" d="M-2179.857-358l-14.483,8.951v25.574l7.159,4.348,17.939-10.741v4.433l-17.939,11-10.863-6.393v-26.256l-3.621,2.387v26.085l14.483,8.354,21.642-13.213V-331.4l-17.939-10.741,3.621-2.557,18.268,11.167v12.7l-21.889,12.957,3.621,2.557,21.478-13.3v-17.049l-21.478-13.384-6.83,4.348v21.738l-3.868-2.472v-21.652l10.7-6.479,21.478,13.128V-344.7Z" transform="translate(2201.664 358.001)" fill="#241d46")
          g(id="Group_4" data-name="Group 4" transform="translate(120.935 197)")
            text(id="Indigo" transform="translate(81 54)" fill="#fff" font-size="57" font-family="SFProDisplay-Bold, SF Pro Display" font-weight="700")
              tspan(x="-81.005" y="0") Indigo
            text(id="Investment_Group" data-name="Investment Group" transform="translate(41 68.48)" fill="#fff" font-size="11" font-family="SFProDisplay-Regular, SF Pro Display" opacity="0.5")
              tspan(x="-40.944" y="0") Investment Group
  .header__item
    nav.nav
      a.nav__link(href="#") Подробно о нас
      a.nav__link(href="#") Подробнее о торговле
      a.nav__link(href="#") Условия
      a.nav__link(href="#") Партнерство с нами
      a.nav__link(href="#") FAQ
      a.nav__link(href="#") Контакты
    .header__btns
      a.header__btn.--btn-border(href="#") Войти
      a.header__btn.--btn-white(href="#") Регистрация
    .header__lang
      img(src="./assets/img/header/ru.svg", alt="")
      .lang__drop
        a.lang__item(href="#") 
          img(src="./assets/img/header/ru.svg", alt="")
          | Русский
        a.lang__item(href="#") 
          img(src="./assets/img/header/ger.svg", alt="")
          | Немецкий
        a.lang__item(href="#") 
          img(src="./assets/img/header/gb.svg", alt="")
          | Английский
    .header__burger 
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="19" viewBox="0 0 28 19">
        <g id="Group_161" data-name="Group 161" transform="translate(-323.5 -26.5)">
          <line id="Line_64" data-name="Line 64" x2="25" transform="translate(325 28)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3"/>
          <line id="Line_65" data-name="Line 65" x2="25" transform="translate(325 36)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3"/>
          <line id="Line_66" data-name="Line 66" x2="25" transform="translate(325 44)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3"/>
        </g>
      </svg>
.mobile__nav 
  .mobile__nav-header 
    .mobile__nav-logo
      a.header__logo(href="#main")    
        svg(xmlns="http://www.w3.org/2000/svg" width="220.435" height="71.48" viewBox="0 0 220.435 71.48")
          g(id="logo" transform="translate(-63.5 -197)")
            g(id="Group_2" data-name="Group 2" transform="translate(63.5 210.576)")
              path(id="Path_3" data-name="Path 3" d="M-2179.857-358l-14.483,8.951v25.574l7.159,4.348,17.939-10.741v4.433l-17.939,11-10.863-6.393v-26.256l-3.621,2.387v26.085l14.483,8.354,21.642-13.213V-331.4l-17.939-10.741,3.621-2.557,18.268,11.167v12.7l-21.889,12.957,3.621,2.557,21.478-13.3v-17.049l-21.478-13.384-6.83,4.348v21.738l-3.868-2.472v-21.652l10.7-6.479,21.478,13.128V-344.7Z" transform="translate(2201.664 358.001)" fill="#241d46")
            g(id="Group_4" data-name="Group 4" transform="translate(120.935 197)")
              text(id="Indigo" transform="translate(81 54)" fill="#fff" font-size="57" font-family="SFProDisplay-Bold, SF Pro Display" font-weight="700")
                tspan(x="-81.005" y="0") Indigo
              text(id="Investment_Group" data-name="Investment Group" transform="translate(41 68.48)" fill="#fff" font-size="11" font-family="SFProDisplay-Regular, SF Pro Display" opacity="0.5")
                tspan(x="-40.944" y="0") Investment Group
    .mobile__nav-btns 
      .mobile__nav-lang 
        img(src="./assets/img/header/ru.svg", alt="")
        .lang__drop
          a.lang__item(href="#") 
            img(src="./assets/img/header/ru.svg", alt="")
            | Русский
          a.lang__item(href="#") 
            img(src="./assets/img/header/ger.svg", alt="")
            | Немецкий
          a.lang__item(href="#") 
            img(src="./assets/img/header/gb.svg", alt="")
            | Английский 
      .mobile__nav-close
        <svg xmlns="http://www.w3.org/2000/svg" width="19.243" height="19.243" viewBox="0 0 19.243 19.243">
          <g id="Group_331" data-name="Group 331" transform="translate(-328.379 -25.379)">
            <line id="Line_89" data-name="Line 89" x2="15" y2="15" transform="translate(330.5 27.5)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3"/>
            <line id="Line_90" data-name="Line 90" x1="15" y2="15" transform="translate(330.5 27.5)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3"/>
          </g>
        </svg>
  .mobile__nav-body
    .mobile__nav-links
      a.mobile__nav-link(href="#") Подробнее о нас 
      a.mobile__nav-link(href="#") Подробнее о торговле 
      a.mobile__nav-link(href="#") Условия работы
      a.mobile__nav-link(href="#") Партнерство с нами
      a.mobile__nav-link(href="#") FAQ 
      a.mobile__nav-link(href="#") Контакты 
      a.mobile__nav-link.--border(href="#") Личный кабинет 
      a.mobile__nav-link(href="#") Партнерский кабинет 
    .header__btns
      a.header__btn.--btn-border(href="#") Войти
      a.header__btn.--btn-white(href="#") Регистрация
    .question__socials 
      a.main-socials__link(href="#")
        img(src="./assets/img/socials/in.svg", alt="")
      a.main-socials__link(href="#")
        img(src="./assets/img/socials/tm.svg", alt="")
      a.main-socials__link(href="#")
        img(src="./assets/img/socials/yt.svg", alt="")
