.main-socials-bg
.main-socials 
  .main-socials__links
    a.main-socials__link(href="#") 
      img(src="./assets/img/socials/in.svg", alt="")
    a.main-socials__link(href="#") 
      img(src="./assets/img/socials/tm.svg", alt="")
    a.main-socials__link(href="#")
      img(src="./assets/img/socials/yt.svg", alt="")

