.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: $header-size;
  background-color: $darkgreen;
  padding-left: 35px;
  padding-right: 35px;
  z-index: 600;
  transition: .4s;
  &.--js-header-scroll{
    background-color: #fff;
  }
}




.header__item{
  display: flex;
  align-items: center;
}


.header__logo{
  width: 220px;
  path, text{
    transition: .4s;
  }
  .--js-header-scroll &{
    path{
      fill: $green;
    }
    text{
      fill: $black
    }
  }
}


.nav{
  display: inline-flex;
  margin-right: 58px;
  &__link{
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
    position: relative;
    margin-left: 19px;
    margin-right: 19px;
    display: inline-flex;
    transition: color .4s;
    &:first-child{
      margin-left: 0px;
    }
    &:last-child{
      margin-right: 0px;
    }

    &:hover{
      color: $black;
    }
    
    .--js-header-scroll &{
      color: $black;
      &:hover{
        color: $green;
      }
    }
  }
}



.header__btns{
  display: flex;
  margin-right: 22px;
}

.header__btn{
  height: 60px;
  transition: .4s;
  display: inline-flex;
  align-items: center;
  border: 2px solid #fff;
  font-size: 16px;
  margin-left: -2px;
  position: relative;
  z-index: 1;
  &:first-child{
    margin-left: 0px;
  }
  &:hover{
    z-index: 5;
  }
  &.--btn-border{
    background-color: transparent;
    color: #fff;
    padding-left: 34px;
    padding-right: 34px;
    &:hover{
      background-color: #fff;
      color: $black;
    }

    .--js-header-scroll &{
      color: $green;
      &:hover{
        background-color: $green;
        color: $black;
      }
    }
  }
  &.--btn-white{
    background-color: #fff;
    color: $black;
    font-weight: bold;
    padding-left: 43px;
    padding-right: 43px; 
    &:hover{
      background-color: transparent;
      color: #fff;
    }

    .--js-header-scroll &{
      background-color: $green;
      color: $black;
      &:hover{
        background-color: transparent;
        color: $green;
      }
    } 

  }

  .--js-header-scroll &{
    border-color: $green;
  }
}


.header__lang{
  position: relative;
  &:hover .lang__drop{
    display: block;
  }
}

.lang__drop{
  position: absolute;
  top: 100%;
  margin-top: 24px;
  right: -20px;
  padding: 15px 25px;
  width: 190px;
  background-color: #fff;
  z-index: 200;
  border: 1px solid #E4E4E4;
  display: none;
  &:after{
    content: "";
    height: 24px;
    bottom: 100%;
    right: 0;
    width: 100%;
    position: absolute;
  }
  &:before{
    content: "";
    position: absolute;
    bottom: 100%;
    right: 19px;
    border-bottom: 18px solid #fff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    margin-bottom: -1px;
  }
}

.lang__item{
  font-size: 15px;
  color: rgba(#000, .7);
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  img{
    margin-right: 15px;
    width: 24px;
  }
  &.active,
  &:hover{
    font-weight: 600;
    color: #000;
  }
}



.header__burger {
  display: none;
  .--js-header-scroll & line{
    stroke: $green;
  }
}


.mobile__nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00C59C;
  z-index: 900;
  overflow-y: auto;
  display: none;
}


.mobile__nav-header{
  display: flex;
  justify-content: space-between;
  padding: 18px 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(#000, .1);
}

.mobile__nav-btns{
  display: flex;
  align-items: center;
}

.mobile__nav-close{
  margin-left: 20px;
}

.mobile__nav-links{
  padding-left: 36px;
}

.mobile__nav-lang{
  &:hover .lang__drop{
    display: block;
  }
}

.mobile__nav-link{
  font-size: 19px;
  font-weight: 500;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  color: #fff;
}

.mobile__nav-link.--border{
  padding-top: 30px;
  width: calc(100% + 36px);
  margin-left: -36px;
  padding-left: 36px;
  border-top: 1px solid rgba(#fff, .2);
}


.mobile__nav-body .header__btns{
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  .header__btn{
    max-width: 280px;
    width: 100%;
    margin-left: 0px;
    height: 60px;
    margin-bottom: 10px;
    justify-content: center;
  }
}

.mobile__nav-body .question__socials{
  padding-top: 62px;
  margin-bottom: 15px;
  justify-content: center;
  .main-socials__link{
    width: 45px;
    height: 45px;
    margin-right: 7px;
    margin-left: 7px;
    background-color: rgba(#241D46, .5);
    &:first-child{
      margin-left: 0px;
    }
  }
}



@media(max-width: 1250px){
  .header__burger {
    display: block;
  }
}


@media(max-width: 980px){
  .mobile__nav-header{
    padding-top: 0px;
    padding-bottom: 0px;
  }
}